* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}
body {
  font: 13px/16px Helvetica Neue, Tahoma, Arial, sans-serif;
  color: #222;
}
a {
  color: #1b4d69;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App h1,
.App h2,
.App h3 {
  font: 700 16.5px/24px Helvetica Neue, Tahoma, Arial, sans-serif;
  margin-bottom: 15px;
}
.App div,
.App p {
  margin-bottom: 12px;
}
.Container {
  padding: 20px 15px;
  flex: 1 auto;
}
.footer {
  height: 36px;
  line-height: 36px;
  background: #ccc;
  padding: 0 15px;
  color: #666;
}
nav.top-menu {
  height: 36px;
}
nav.top-menu ul {
  width: 100%;
  height: 36px;
  display: block;
  background: #1b4d69;
}
nav.top-menu li {
  float: left;
  list-style: none;
}
nav.top-menu li > a {
  padding: 0 15px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 36px;
  display: block;
  color: #fff;
  text-decoration: none;
}
nav.top-menu li.active {
  background: #fff;
}
nav.top-menu li.active a {
  color: #1b4d69;
}
nav.top-menu li:nth-child(1) {
  background: #d42a28;
}
button {
  cursor: pointer;
  line-height: 34px;
  text-align: center;
  padding: 0 14px;
  user-select: none;
  margin-bottom: 15px;
  min-width: 100px;
  background: #1b4d69;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
}
button:hover {
  background: #164763;
}
button:active {
  position: relative;
  top: 1px;
  background: #164763;
}
input {
  height: 34px;
  padding: 0 12px;
  border: 1px solid rgba(0,0,0,0.2);
  line-height: 34px;
  font-size: 14px;
}
input:focus {
  border-color: #268bd2;
}
.error,
.invalid-feedback {
  color: #ff1512;
  font-size: 12px;
  margin-top: 4px;
}
.form-text {
  color: #177518;
}
